#container {
	/* Set to match the space within the MyPage "border" images. */
	width: 1335px;
	background-color: white;
	position: absolute;
	margin-left: 230px;
	padding: 0px;
}

.courses {
	background-color: #FFF
}

#tabs {
	height: 675px;
}

#timetable {
	float: left;
	text-align: center;
	border-collapse: collapse;
	width: 70%;
}

#selectedCoursesTable {
	border-collapse: collapse;
}

td {
	margin: 0px;
	padding: 3px;
	border: 1px solid black;
	border-spacing: 0px;
	height: 30px;
}

td.noBorder
{
	border: 0px;
}

.addCourse {
	cursor: pointer;
	position: relative;
}

tr {
	padding: 0px;
}

.redCourse
{
	background-color: red
}
.greenCourse
{
	background-color: green;
}
.yellowCourse
{
	background-color: yellow;
}

.reqInfo
{
	position:absolute;
	bottom:0px;
	right:0px;
	font-size:8pt;
	color: #444444;
}

.fakeButton
{
	cursor:pointer;
	background-color:grey;
}

.myPage
{
	margin: 0px;
	padding: 0px;
}

#myPageSide
{
	float: left;
}

.myPageLink
{
	border-right: 1px solid #AAA;
	color: #369;
	font-family: Arial, sans-serif;
	font-size: 13px;
	padding: 0px 6px 0px 4px;
	text-align: left;
	text-decoration: none;
}

/* This is necessary to prevent "Pre-Requisite Missing" overlapping with the help buttons. */
.searchRow {
	height: 35px;
}

.courseName {
	display: inline;
}

.helpButton
{
	border-radius: 20px;
	position: absolute;
	top: 0px;
	right: 0px;
}
