.courses { background-color: #FFF}
table.nav { text-align: center; border-collapse: collapse; width: 100%;}
td { border: 1px solid black; margin: 0px; border-spacing: 0px;height: 50px;border-radius: 3px}
tr { padding: 0px}
td.noLeft {height:500px};